.filter {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transition: all ease 0.2s;
}

.filter:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form-filter {
  width: 300px;
}
.filter .form-input {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--thd-color);
  padding-bottom: 2px;
}
.filter .form-input label {
  color: var(--thd-color);
}

.filter .form-input input {
  background-color: rgba(0, 0, 0, 0);
  color: var(--thd-color);
  width: 100%;
  padding: 0 10px;
  text-overflow: ellipsis;
}

.filter .form-input input::placeholder {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--thd-color);
  opacity: 0.7;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.filter .all-auto-complete {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px 5px 15px 15px;
  color: #a53438;
  padding: 0px 15px;
  position: absolute;
  z-index: 100;
  max-height: 0;
  overflow-y: scroll;
  transition: all ease 0.3s;
}

/* Scroll bar */

.filter .all-auto-complete::-webkit-scrollbar {
  width: 10px;
  position: absolute;
}

.filter .all-auto-complete::-webkit-scrollbar-track {
  background: "red";
  padding: 5px;
  border-radius: 10px;
}

.filter .all-auto-complete::-webkit-scrollbar-thumb {
  background: #ec1d2479;
  border-radius: 5px;
  margin-top: 5px;
}

.filter .all-auto-complete::-webkit-scrollbar-thumb:hover {
  background: #ec1d249d;
}

.filter .display-auto-comp {
  max-height: 300px;
  padding: 10px 15px;
}

.filter .form-filter .auto-complete {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px;
  border-bottom: #752427 1px solid;
}

.filter .form-filter .auto-complete:hover {
  cursor: pointer;
  background-color: #ffffffd3;
}

.no-result {
  color: var(--thd-color);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
