.characters-section{
    width: 100%;
}

.characters-display{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;

}

.character-card {
    width: calc((100% - 80px) / 5);
    flex-shrink: 0;
    position: relative;
    aspect-ratio: 9/12;
}

.character-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-card .details {
    position: absolute;
    bottom: 0;
}